<div class="dashboar__container wrapper">

  <div class="blog_posts row">
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
    <div class="post col-md-3">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem soluta eveniet commodi unde accusantium tempora amet. Autem reprehenderit aut quos minus sint ut error nesciunt eius vel fugit, eaque sed velit harum quod ipsum perferendis illo sit ea temporibus. Praesentium dignissimos nostrum molestiae animi commodi deleniti excepturi quaerat culpa exercitationem, ex beatae placeat hic aperiam. Perspiciatis debitis corporis quasi eum modi incidunt dignissimos vitae quae inventore voluptates corrupti, totam id sapiente dolore necessitatibus cupiditate voluptatem ab nisi dolorum laboriosam unde. Facere pariatur tenetur dolorem nemo optio iure numquam est minus, provident dicta ipsam animi eum, enim excepturi architecto reprehenderit veniam!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
    </div>
  </div>
</div>