<div class="dashboar__container wrapper">

  <div class="blog_posts row">
   
    <div class="post col-md-4">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit, vel, nisi nulla voluptatem itaque id explicabo cum odio facilis magnam vero dolore consequatur exercitationem sit quaerat nesciunt autem eum aspernatur ducimus quos libero voluptas ipsa veritatis. Similique, voluptates tempora!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
  </div>
  {{!-- end of post --}}
    <div class="post col-md-4">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit, vel, nisi nulla voluptatem itaque id explicabo cum odio facilis magnam vero dolore consequatur exercitationem sit quaerat nesciunt autem eum aspernatur ducimus quos libero voluptas ipsa veritatis. Similique, voluptates tempora!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
  </div>
  {{!-- end of post --}}
    <div class="post col-md-4">
      <div class="post__title">Lorem ipsum dolor sit amet.</div>
      <div class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit, vel, nisi nulla voluptatem itaque id explicabo cum odio facilis magnam vero dolore consequatur exercitationem sit quaerat nesciunt autem eum aspernatur ducimus quos libero voluptas ipsa veritatis. Similique, voluptates tempora!</div>
      <div class="post__footer">
        <span class="post__author">Micheal America</span>
      </div>
  </div>
  {{!-- end of post --}}

  </div>
</div>