header {
    padding: 60px;
    background: lightskyblue;
    color: black;
    font-size: 30px;
} 
#pageName {
    text-align: left;
} 

.link__item {
    list-style: none;
}

.nav__links {
    display: flex;
    gap: 20px;
    padding-left: 0px;
}